<div class="my-box">
  <div class="justify-size">
    <!-- <div class="slider"> -->
      <div class="my-card" *ngFor="let restaurant of restaurantsPick" (click)="openRestaurantDetails()">
        <div class="frame">
          <div class="title" [style.fontFamily]="restaurant.style">
            <span>
              <strong>{{restaurant.title}}</strong>
            </span>
          </div>
          <div class="subtitle" [style.fontFamily]="restaurant.style">
            <span>{{restaurant.subtitle}}</span>

            <!-- </div> -->
          </div>
          <div class="open-restaurant">
            <div class="open-button" [style.fontFamily]="restaurant.style" (click)="openRestaurantDetails()">
              <span>Zamów stolik!</span>
            </div>
          </div>
        </div>
      </div>
    <!-- </div> -->
  </div>
</div>