.my-box{
    min-height: 70vh;
    height:auto;
    width: 100%;
    background-color: #efefef;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    padding-bottom: 40px;
}

.justify-size{
    width:70%;
    height: 100%;;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-direction: column;
}
/* .slider{
    width:100%;
    height:70%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    align-items: baseline;
    flex-wrap: wrap;
} */

 .frame{
     width:calc(100% - 6px);
    height:calc(100% - 6px);

     margin:3px;
    border: 2px solid rgba(0,0,0,0.8);
     background-color: white;
    //  display: flex;
     
}
.my-card{
    height:auto;
    margin-top: 40px;
    // margin: 20px;
    width:100%;
    border: 3px solid rgba(0,0,0,0.8);
    background-color: white;
   // margin: 5px 50px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.my-card:hover{
    -webkit-box-shadow: 0px 0px 50px 0px rgba(244,209,173,1);}



.title{
    width: 100%;
    height:20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid rgba(0,0,0,0.8);
}

.title span{
    font-size: 2rem;
    color: black;
}

.subtitle{
    width: 100%;
    height:auto;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
}

.subtitle span{
    font-size: 1.5rem;
    color: #787878;
    text-align:center;
}

.open-restaurant{
    height:auto;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    // margin-bottom:50px;
}

.open-button{
    height:70px;
    width:200px;
    background-color: rgba(0,0,0,0.8);
    color: white;
    /* -webkit-box-shadow: 0px 10px 10px -4px rgba(205,205,205,1); */
    -webkit-box-shadow: 0px 0px 10px 2px rgba(160,160,160,1);
    /* -webkit-box-shadow: 0px 0px 50px 0px rgba(244,209,173,1); */
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.open-button:hover{
    background-color: white;
    border:2px solid rgba(0,0,0,0.8);

}

.open-button:hover span{
    color: rgba(244,209,173,1);
    font-weight: 700;
}

.open-button span{
    color: white;
    font-size: 22px;
}

@media screen and (max-width: 1100px){
    .slider{
       
       
    }
 
}