<div class="layout" >
  <app-navigation class="my-navbar"></app-navigation>
  <app-restaurant-pick (openRestaurantModel)="openRestaurantModel($event)"></app-restaurant-pick>
  <!-- <app-restaurant ></app-restaurant> -->
  <!-- <div class="white-bar">
  
  </div> -->
  <div class="my-modal" *ngIf="openModel">
    <app-restaurant></app-restaurant>

  </div>
  <app-footer></app-footer>
</div>
