
:host ::ng-deep .my-navbar {
    position: fixed;
    width:100%;
    height:80px!important;
    // padding: 0 20px;
    top: 0;
    left:0;
    margin: 0 ;
    padding: 0;
  }
  :host ::ng-deep .layout {
    padding-top:80px;
  }

  .layout{
    height: auto;
    width: 100%;
  }
.my-modal{
  position: absolute;
  top:0;
  left: 0;
  z-index: 100;
  height:100vh;
  width:100vw;
  background-color: rgb(0,0,0);
  overflow: hidden;
}



