<div class="my-box">
  <div class="justify-size">
    <div class="my-buttons">
      <div class="block-menu" (click)="openMenu()">
        <i class="fa fa-bars my-icon" [ngStyle]="{'color': 'rgba(244,209,173,1)'}"></i>
      </div>
      <div class="block">
        <span>KONTAKT</span>
      </div>
      <div class="block">
        <span>O NAS</span>
      </div>
      <div class="search-block">
          <i class="fa fa-search " [ngStyle]="{'color': 'rgba(244,209,173,1)'}" (click)="openSearchBar()"></i>

      </div>
      <div class="search-block-form">
        <form class="form-inline md-form form-sm active-black active-black-2" [ngClass]="{'fade-in' : searchBarValue}">
          <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Szukaj restauracji" aria-label="Szukaj" mdbInput>
        </form>

      </div>
    

    </div>
    <span class="logo">BOOK Your Table</span>

  </div>
  <div *ngIf="menuState" class="menu-list">
    <span>KONTAKT</span>
    <div class="bar"></div>
    <span>O NAS</span>
    <div class="bar"></div>
    <form class="form-inline md-form form-sm active-black active-black-2">
      <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Szukaj restauracji" aria-label="Szukaj" mdbInput>

    </form>
  </div>
</div>