.my-box{
    // height:80px;
    // background-color: rgba(0,0,0, 0.8);
    height:100% !important; 
    min-height: 100%;
    background-color: white;
    -webkit-box-shadow: 0px 10px 10px -4px rgba(205,205,205,1);
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    font-size:1.6rem;
    font-family: 'Anton', sans-serif;
    padding-left: 20px;
    color: black;
}
.my-icon{
    color: black;
    font-size:40px;
}
// .my-0, .waves-light{
//     background-color: rgba(0,0,0,0.8);
//     span{
//         color: white;
//     }
// }
// .my-icon{
//     color: rgba(244,209,173,1);
// }
input{
    border: none;
    border-radius: 0;
    border-bottom: 1px solid rgba(244,209,173,1);
    font-family: "Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif
}
input[type=text]:focus:not([readonly]){
    border-bottom: 1px solid rgba(244,209,173,1);
    // box-shadow: 0 1px 0 0 black;
    // -webkit-box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,0.75);
}
.justify-size{
    width:70%;
    height:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.my-buttons{
    height:100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    // text-align: center;
    // line-height: 80px;
    span{
        color:black;
        font-size: 20px;
        padding: 0 10px;
        font-family: 'Anton', sans-serif;
        min-width:100px;
        text-align: center;
    }

    // span:hover{
    //     border-bottom: rgba(244,209,173,1) 2px solid;
    // }
}
.form-control, .mr-sm-2{
    // font-family: 'Anton', sans-serif;

}

.menu-list{
    position:absolute;
    top:80px;
    left:0;
    height:auto;
    padding-top:20px;
    padding-bottom: 20px;
    // min-height: 100px;
    width:100%;
    background-color:white;
    z-index: 2;
    animation-name: fadeIn;
    animation-fill-mode: forwards;
    animation-duration: 0.1s;
    animation-timing-function: ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 10px 10px -4px rgba(205,205,205,1);

}

.bar{
    width:1px;
    height:30px;
    background-color: rgba(244,209,173,1);
    margin-left:20px;
    margin-right:20px;
}

.block{
    height: 100%;
    width:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.search-block{
    height: 100%;
    width:auto;
    max-width:16px;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // flex-direction: row;
    i{
        font-size:24px;
        padding-top:24px;
    }
}

.search-block-form{
   input{
    width: auto;
    padding: 0;
   }
   form{
    max-width: 0;
   }

}

.fade-in{
    animation-name: fadeInWidth;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
}

.block-menu{
    height: 100%;
    width:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // margin-bottom: 10px;
    // .border-hover{
    //     width:100%;
    //     height:3px;
    //     background-color: white;
    // }
}
.block span {
    display: inline-block;
    color: #000;
    text-decoration: none;
}

.block span::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: rgba(244,209,173,1);
    transition: width .3s;
}

.block span:hover::after {
    width: 100%;
    //transition: width .3s;
}

.center-searchbar{
    height:100%;
    width:100%;
    // border:2px solid black;
    // border-radius:20px;
}

.mr-auto{
    margin: 0 !important;
}



@media screen and (max-width:500px){
    .menu-list{
        flex-direction: column;
        justify-content: center;

        .bar{
           display: none;
        }

        span{
            min-height:40px;
        }
    }
    form{
        width:100%;
        justify-content: center;
    }
    input{
        margin-left: 0 !important;
        justify-content: center;
    }
    .justify-size{
        width:100%;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
    }
    .my-box{

    }
    .my-buttons i{
        display: flex;
    }
    .block{
        display: none;
    }
    .search-block{
        display: none;
    }
}
@media screen and (min-width: 501px) and (max-width: 900px){
    .justify-size{
        width:100%;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
    }
    .my-box{

    }
    .my-buttons i{
        display: flex;
    }
    .block{
        display: none;
    }
    .search-block{
        display: none;
    }
    .menu-list{
        display: none;
    }
}

@media screen and (min-width: 901px){
    .my-buttons .my-icon{
        display: none;
    }
 
}
@keyframes fadeIn{
    0% {max-height : 0 }
    100% {max-height:100vh}
}
@keyframes fadeInWidth{
    0% {max-width : 0 }
    100% {max-width:200px}
}